<%= render "common/header", header_title: 'About Me', pic_path: 'blog_min/about-bg.jpg', sub_title: "This is what I do.",is_post: false  %>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<h1>Hey, I'm Gavin Chiang</h1>
			<p>Welcome to my personal blog where I keep records of my learning notes and life experiences. </p>
			<p>This blog is built with Ruby on Rails and pictures are stored on  Amazon S3.
			You're actually on the production version where deployed on Heroku right now.</p>
			<p>Cool stuff, right! Feel free to <%= link_to("Check it out.", "https://github.com/GavinChiang/blog") %></p>
			<p>If you'd like to follow along and how I exlpore the world, find me on Facebook <%= link_to("Gavin Chiang", "https://www.facebook.com/gavin.chiang.98") %> or check my <%= link_to("GitHub", "https://github.com/GavinChiang") %>.</p>
			<p>Sing up and create a posts to me! </p>
		</div>
	</div>
</div>

