<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.JPG" %>
	</div>
	<div id="content">
		<h1>Hey, I'm Gavin Chiang</h1>
		<p>Welcome to my personal blog.</p>
		<p>This blog is build with Ruby on Rails. You're actually on the production version right now. Cool stuff, right!.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Facebook <a href="https://www.facebook.com/gavin.chiang.98"> Gavin Chiang</a> or check my<a href="https://github.com/GavinChiang"> GitHub. </a></p>
	</div>
</div>