<%= render "common/header", header_title: 'Thanks for your message', pic_path: 'blog_min/contactget-bg.jpg', sub_title: nil, is_post: false %>

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	<p> Will get back to you soon.</p>
</div>