/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*CSS Badoo style pagination*/
div.pagination {
	 margin: 20px 0 0;
}

div.pagination a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}

div.pagination a:hover, div.pagination a:active {
	color: white;
  background-color: #0085A1;
  border: 1px solid #0085A1;
}

div.pagination span.current {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
div.pagination span.disabled,
div.pagination a.disabled,
div.pagination a:hover.disabled,
div.pagination a:focus.disabled,
 {
  color: #777777;
  background-color: #333333;
  cursor: not-allowed;
}

/*div.pagination {
	background-color:#fff;
	color:#33acb7;
	padding:10px 0 10px 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:center;
}

div.pagination a {
	color:#33acb7;
	padding:2px 5px;
	margin:0 2px;
	text-decoration:none;
	border:2px solid #f0f0f0;
}

div.pagination a:hover, div.pagination a:active {
	border:2px solid #ff5a00;
	color:#ff5a00;
}

div.pagination span.current {
	padding:2px 5px;
	border:2px solid #ff5a00;
	color:#fff;
	font-weight:bold;
	background-color:#ff6c16;
}
div.pagination span.disabled {
	display:none;
}*/